html {
  font-family: "Merriweather", serif;
}
 td {
   text-align: right;
 }

.grey {
  border: solid 1px #666;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 8px;
  padding-left: 0.5em;
  padding-right: .5em;
}

.red {
  border: solid 1px #b92828;
  background-color: #f2bcbc;
  color: #991919;
  border-radius: 8px;
  padding: .3em;
}

.blue {
  border: solid 1px #1d38da;
  background-color: #d2d6f0;
  color: #38448e;
  border-radius: 8px;
  padding: .5em;
}

.green {
  border: solid 1px #6b7e54;
  background-color: #d1e0bf;
  color: #51603f;
  border-radius: 8px;
  padding: .5em;
}

table {
  border: solid 1px #ccc;
}

th, td {
  border: solid 1px #ccc;
}

td {
  height: 10em;
}
